%h1 Edit Information

.row
  .col-md-6.col-md-offset-3
    = form_for(:user, url: user_path, method: :patch) do |f|
      = f.label :name, "名前"
      = f.text_field :name, class: 'form-control'
      = f.label :gender, "性別"
      = f.text_field :gender, class: 'form-control'
      = f.label :age, "年齢"
      = f.text_field :age, class: 'form-control'
      = f.label :other_information, "自己紹介"
      = f.text_area :other_information, class: 'form-control textarea'
      -# = render 'form'
      = f.collection_check_boxes(:skill_ids, Skill.all, :id, :skill_title) do |b|
        = b.label { b.check_box + b.text }
      = f.submit "更新する", class: "btn btn-primary"
