%h1 Your Profile

.row
  %aside.col-md-4
    %section
      %p
        = "▼名前："
        = @user.name
      %p
        = "▼性別："
        = @user.gender
      %p
        = "▼年齢："
        = @user.age
      %p
        = "▼自己紹介："
        = @user.other_information
      %p
        = "▼教えられるスキル："
        - @user.teach_skills.each do |teach_skill|
          = teach_skill.skill_id
      %p
        = "▼学びたいスキル："
        - @user.learn_skills.each do |learn_skill|
          = learn_skill.skill_id

=link_to "プロフィールを編集する", edit_user_path
